/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-color: aliceblue;
    padding: 0 20px;
}

/* Main container styling */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-top: 20px;
}

/* Header styling */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tittle styling */
h1{
    color: #00b7ff;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

/* Search Btns styling */
.search-btns{
    display: flex;
    /* border: 1px solid red; */
    gap: 50px;
}

/* -------- Btns Animation -------- */
.btn-animation{
    position: relative;
    padding: 10px 22px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: #008cff;
    color: #fff;
    transition: all 0.2s ease;
}
.btn-animation:active{
    transform: scale(0.96);
}
.btn-animation::before,
.btn-animation::after{
    /* border: 1px solid black; */
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 70%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}
.btn-animation::before{
    top: -25%;
    background-image: radial-gradient(circle, #008cff 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #40a9ff 20%, transparent 30%),
    radial-gradient(circle, #008cff 20%, transparent 20%),
    radial-gradient(circle, #40a9ff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #40a9ff 20%, transparent 20%),
    radial-gradient(circle, #008cff 20%, transparent 20%),
    radial-gradient(circle, #40a9ff 20%, transparent 20%),
    radial-gradient(circle, #008cff 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles{
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
.btn-animation .animate::after{
    bottom: 50%;
    background-image: radial-gradient(circle, #008cff 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #40a9ff 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #40a9ff 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #008cff 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles{
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
/* -------- Btns Animation end -------- */


/* Search box styling */
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 100%;
    overflow: hidden;
    max-width: 720px;
    margin-bottom: 16px;
    transition: all 0.3s ease;
}

/* Search box input styling */
.search-box input{
    display: block;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    transition: all 0.3s ease;
}

.search-box:focus-within{
    box-shadow: 0px 7px 29px 0px #64646f33;
    transform: translateY(-3px);
}

/* Results box styling */
.results{
    max-width: 768px;
    margin: 0 auto;
}

/* Result output styling */
.result{
    width: 100%;
    padding: 16px;
    margin: 16px 0;
    border-radius: 14px;
    transition: all 0.3s ease;
}

/* Resuls output hover effect */
.result:hover{
    box-shadow: 0 7px 29px 0 #64646f33;
}

/* Resuls output title styling */
.result h3{
    color: #616161;
    font-size: 28px;
    margin-bottom: 16px;
}

/* Resuls output description styling */
.result p{
    color: #313131;
    font-size: 18px;
    margin-bottom: 16px;
}

/* Resuls output refral link styling */
.result a{
    display: inline-block;
    padding: 12px;
    width: 100%;
    background-color: #5c6bc0;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    border-radius: 12px;
    transition: all 0.3s ease;
}

/* Resuls output refral link hover effect */
.result a:hover{
    background-color: #3949ab;
}
